<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    
    <environments default="oracle">
    <!-- 具体相应数据库配置  可以配置对个id不同的数据库环境 -->
        <environment id="oracle">
            <!--指定事务管理的类型，这里简单使用Java的JDBC的提交和回滚设置
            mybatis有两种事物管理类型：
            jdbc 这个类型直接全部使用 jdbc的jdbc 的提交和回滚功能；
                                它依靠使用连接的数据源来管理事物的作用域
            MANAGED 这个类型什么都不做，它从不提交 回滚和关闭连接；
                                而是让窗口来管理事物的全部生命周期 
            -->
            <transactionManager type="JDBC"></transactionManager>
            <!--dataSource 指连接源配置，POOLED是JDBC连接对象的数据源连接池的实现-->
            <dataSource type="POOLED">
                <property name="driver" value="oracle.jdbc.OracleDriver"></property>
                <property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl"></property>
                <property name="username" value="system"></property>
                <property name="password" value="root"></property>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--这是告诉Mybatis去哪找持久化类的映射文件，对于在src下的文件直接写文件名，
                        如果在某包下，则要写明路径,如：com/mybatistest/config/User.xml 
                        可填写多个<mapper resource=""/>
       
          -->
         <mapper resource="com/yunhe/mapper/cTestStudentMapper.xml"></mapper>

    </mappers>
  </configuration>